@media only screen and (max-width: 415px) and (max-height: 737px) {
    .root {
      height: 100% !important;
      width: 100% !important;
    }
    .menu-modal {
      width: 100% !important;
      display: flex !important;
    }
  
    .main-header{
      height: 60px !important;
    }
  
    .main-header a {
      margin-top: 5px;
      font-size: 23px !important;
      margin-left: 2px !important;
      margin-right: 10px !important;
      overflow-wrap:break-word !important;
    }
  
    .transition-footer-bottom {
      top: 85% !important;
    }
    .transition-footer-top {
      top: 0px !important;
    }
  
    .image-container img {
      height: 100% !important;
    }
  
    .footer-nav {
      display: flex !important; 
      flex-direction: row !important;
      flex-wrap: wrap !important;
      max-width: 100% !important;
      justify-content: center !important;
      margin: 0px !important;
      padding: 0px !important;
      height: 110px !important;
      top: 97%;
    }
  
    .slider-container {
      height: 90% !important;
      max-height: 100% !important;
      margin-top:10% !important;
    }
  
    .footer-nav li {
      padding: 0px !important;
      margin: 15px !important;
    }
  
    .footer-nav li i a {
      height: 20px !important;
      width: 20px !important;
    }
  
    .main-container,
    .image-container img {
      height: 110% !important;
    }
  
  .each-fade img {
      height: 1200px !important;
      object-fit: contain !important;
      object-position: center !important;
      display: block !important;
      width: auto !important;
      overflow: hidden;
    }
  
    .brand-logo {
      width: 100% !important;
      font-size: 27px !important;
    }
  
    .logo {
      top: 50px !important;
      height: 80% !important
    }
  
    .menu-container {
      position: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .social-media-container {
      padding: 0px !important;
      height: auto !important;
      display: flex;
      flex-direction: row;
      margin: 10px !important;
    }
  
    .social-media-container td {
      margin: 2px !important;
      padding: 2px !important;
      justify-content: space-evenly !important;
      height: 54px !important;
      width: 148px !important;
      max-width: 14s8px !important;
      margin-bottom: 2px !important;
    }
    .instagram {
      width: 99.5% !important;
    }
    .menu-container-item {
      width: 150% !important;
    }
    .header {
      font-size: 40px !important;
    }
    .card-content {
      margin: auto !important;
      padding: auto !important;
      padding-bottom: -20px !important;
      justify-content: center !important;
    }
    br:nth-last-child(1) {
      display: none !important;
    }
    .card-content p {
      font-size: 12.5px !important;
    }
  
    .s3 {
      width: 50% !important;
    }
  
    .menu-modal-header {
      font-size: 20px !important;
    }
  
  
    .carousel {
      bottom: 0px !important;
    }
  
    .modal-backdrop {
      height: 100% !important;
    }
  
    .menu-container-item, .menu-card-footer{
      display: none !important
    }
  
    .menu-modal {
      width: 73% !important;
      height: auto !important;
      margin: 14px !important;
      margin-top: 125px !important;
      padding-left: auto !important;
      padding-right: auto !important;
    }
  
    .menu-modal-header{
      padding-top: 15px !important
    }
  
    .modal-close-btn {
      margin-left: -10px;
      padding-right: 10px;
      height: 30px !important;
      top: -25px !important
    }
  
    .menu-modal-card {
      width: 120% !important;
      height: auto !important;
      padding: 0px !important
    }
  
    .menu-modal-carousel {
      display: none !important
    }
  
  }
  